@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import '../components/sass/variables';
.containerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    .titleBox{
        margin-top: 50px;
        .welcome{
            text-align: center;
            margin: 50px 0;
            color: #fff;
            font-size: 5rem;
            animation: welcome 2s;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
            span{
                animation: welcomeSpan 2s;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                color: transparent;
            }
        }
    }
}

@keyframes welcome {
    0%{
        transform: translateY(-600px);
    }
    60%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes welcomeSpan {
    from{
        color: transparent;
    }
    to{
        color: $second_color;
    }
}