.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgb(27, 27, 27);
}
